.App {
  text-align: center;
  padding-top: 10%;
}

.number{
  font-size: 100px;
  padding: 8px;
}

.btn{
  margin: 10px;
  padding: 5px;
  background-color: gold;
  border-radius: 15px;
  border: 0;
  font-size: larger;
}
